<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-servicios-heading" data-cy="ServiciosCreateUpdateHeading" jhiTranslate="backend2App.servicios.home.createOrEditLabel">
        Create or edit a Servicios
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backend2App.servicios.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_valorServicio" jhiTranslate="backend2App.servicios.valorServicio">Valor Servicio</label>
          <input
            type="number"
            class="form-control"
            name="valorServicio"
            id="field_valorServicio"
            data-cy="valorServicio"
            formControlName="valorServicio"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipoServicio" jhiTranslate="backend2App.servicios.tipoServicio">Tipo Servicio</label>
          <input
            type="text"
            class="form-control"
            name="tipoServicio"
            id="field_tipoServicio"
            data-cy="tipoServicio"
            formControlName="tipoServicio"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="backend2App.servicios.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_establecimientoId" jhiTranslate="backend2App.servicios.establecimientoId"
            >Establecimiento Id</label
          >
          <input
            type="number"
            class="form-control"
            name="establecimientoId"
            id="field_establecimientoId"
            data-cy="establecimientoId"
            formControlName="establecimientoId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
