<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pago-heading" data-cy="PagoCreateUpdateHeading" jhiTranslate="backend2App.pago.home.createOrEditLabel">
        Create or edit a Pago
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backend2App.pago.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_monto" jhiTranslate="backend2App.pago.monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaPago" jhiTranslate="backend2App.pago.fechaPago">Fecha Pago</label>
          <div class="d-flex">
            <input
              id="field_fechaPago"
              data-cy="fechaPago"
              type="datetime-local"
              class="form-control"
              name="fechaPago"
              formControlName="fechaPago"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metodoPago" jhiTranslate="backend2App.pago.metodoPago">Metodo Pago</label>
          <select class="form-control" name="metodoPago" formControlName="metodoPago" id="field_metodoPago" data-cy="metodoPago">
            <option [ngValue]="null">{{ 'backend2App.MetodoPagoEnum.null' | translate }}</option>
            @for (metodoPagoEnum of metodoPagoEnumValues; track $index) {
              <option [value]="metodoPagoEnum">{{ 'backend2App.MetodoPagoEnum.' + metodoPagoEnum | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="backend2App.pago.estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_citaId" jhiTranslate="backend2App.pago.citaId">Cita Id</label>
          <input type="number" class="form-control" name="citaId" id="field_citaId" data-cy="citaId" formControlName="citaId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_carritoId" jhiTranslate="backend2App.pago.carritoId">Carrito Id</label>
          <input type="number" class="form-control" name="carritoId" id="field_carritoId" data-cy="carritoId" formControlName="carritoId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="backend2App.pago.userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
